* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: local('FiraSansCondensed-Light'), url('/public/fonts/FiraSansCondensed-Light.woff2') format('woff2'),
  url('/public/fonts/FiraSansCondensed-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: local('FiraSansCondensed-Regular'), url('/public/fonts/FiraSansCondensed-Regular.woff2') format('woff2'),
  url('/public/fonts/FiraSansCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Condensed';
  src: local('FiraSansCondensed-SemiBold'), url('/public/fonts/FiraSansCondensed-SemiBold.woff2') format('woff2'),
  url('/public/fonts/FiraSansCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'Fira Sans Сondensed', sans-serif;
  --second-family: 'Open Sans', sans-serif;
  --third-family: 'Rubik', sans-serif;
}

.list-reset {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  background-size: contain;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #24252f 0%, #31313f 36.46%, #242530 100%);
  background-attachment: fixed;
  height: 100vh;
  font-family: var(--font-family);
}

input {
  background-color: transparent;
}

textarea {
  background-color: transparent;
}


a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1340px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.title-page {
  margin: 0;
  padding: 66px 0 72px 0;
  font-weight: 600;
  font-size: 41px;
  color: #eef3ff;
}

@media (max-width:576px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .title-page {
    padding: 30px 0 20px 0;
    font-size: 21px;
  }
}

@media (max-width:320px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}